{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure       {:mvn/version "1.12.0"}
  org.clojure/core.async     {:mvn/version "1.7.701"}
  org.clojure/tools.cli      {:mvn/version "1.1.230"}
  integrant/integrant        {:mvn/version "0.11.0"}
  aero/aero                  {:mvn/version "1.1.6"}
  metosin/malli              {:mvn/version "0.19.1"}
  hato/hato                  {:mvn/version "1.0.0"}
  metosin/jsonista           {:mvn/version "0.3.13"}
  babashka/process           {:mvn/version "0.5.22"}
  babashka/fs                {:mvn/version "0.5.30"}
  org.jline/jline            {:mvn/version "3.26.3"}
  com.cognitect/anomalies    {:mvn/version "0.1.12"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps
   {djblue/portal            {:mvn/version "0.55.1"}
    nrepl/nrepl              {:mvn/version "1.1.0"}
    lambdaisland/kaocha      {:mvn/version "1.91.1392"}
    nubank/matcher-combinators {:mvn/version "3.9.1"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha      {:mvn/version "1.91.1392"}
    nubank/matcher-combinators {:mvn/version "3.9.1"}}
   :main-opts ["-m" "kaocha.runner"]}

  :build
  {:deps {io.github.clojure/tools.build
          {:git/tag "v0.10.6" :git/sha "52cf7d6"}}
   :ns-default build}}}
